.table-banking {
    padding-bottom: 40px;
    width: 100%;
}

tr {
    text-align: center;
    border-bottom: solid 1px lightgrey;
    border-top: solid 1px lightgrey;
}

td {
    width: 50%;
    padding: 20px 20px;
}

.red h3 {
    color: red;
}

th {
    width: 50%;
    padding: 20px 20px;
}