
.item {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    position: relative;
    margin-top: 10px
}

.course_img {
    width: 130px;
    height: 80px;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-top: 10px;
    border: solid 1px black;
}

.item1 {
    display: flex;
    padding: 10px 50px;
    cursor: pointer;
}

.item2 {
    display: flex;
    padding: 5px 20px;
    margin-left: 15px;
    color: gray;
    border-radius: 40px;
    margin-bottom: 5px;
}

.item1:hover {
    background-color: white;
}

.item1:hover b {
    color: black;
}

.item2:hover {
    background-color: #007bff;
}

.item2:hover h4{
    color: white;
}

.active2 {
    display: flex;
    padding: 5px 20px;
    margin-left: 15px;
    border-radius: 40px;
    margin-bottom: 5px;
    background-color: #007bff;
}

.active2 h4 {
    color: white;
}

.box_courseDetail {
    background-color: white;
    min-height: 200px;
    border-radius: 15px;
    font-family: "Inter", sans-serif;
}

.check {
    margin-top: 7px;
    font-size: 20px;
    margin-right: 5px;
}

.center-dropbtn {
    border: none;
    background: none;
    transition: all 1.5s ease-in-out;
    margin-bottom: 10px;
}

.sbj-category {
    display: flex;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.none {
    display: none;
}

.block {
    display: block;
}

#modal-container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

#modal-container2 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

#modal-container.show {
    opacity: 1;
    pointer-events: all;
}

#modal-container2.show {
    opacity: 1;
    pointer-events: all;
}

#modal {
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 1700px;
    transition: all 0.5s ease-in-out;
}

.modal2 {
    background-color: white;
    position: relative;
    left: 38%;
    top: 0;
    transform: translateX(-62%);
    max-width: 500px;
    transition: all 0.5s ease-in-out;
}

.modal2 .modal-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.modal2 .modal-header2 h3 {
    margin: 0;
}

.modal2 .modal-body2 {
    align-items: center;
    padding: 15px 25px;
}

.modal2 .modal-footer2 {
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#modal-container.show #modal {
    top: 15%;
}

#modal-container2.show .modal2 {
    top: 50%;
    transform: translateY(-50%);
}

.modal-header {
    margin-left: 82%;
    border-bottom: none;
    padding-bottom: 5px;
}

.modal-body {
    padding: 0;
}

.btn-close {
    color: white;
    background: none;
    border: none;
    font-size: 25px;
}

.btn-close2 {
    color: black;
    background: none;
    border: none;
    font-size: 20px;
}

#start-btn {
    background-color: #007bff;
    color: white;
    margin-right: 20px;
    border: none;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#start-btn:hover {
    background-color: blue;
}

#cancel-btn {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#cancel-btn:hover {
    background-color: gray;
}

.vid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.enroll-btn {
    margin-left: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a57e8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.enroll-btn h5 {
    color: white;
    background: none;
    padding: 10px 20px;
}

.close {
    font-size: 20px;
    border: none;
    background: none;
    color: black;
}

.close:hover {
    color: darkgray;
}

.enroll-btn:hover {
    background-color: #243cb9;
}