.login-link {
    color: red;
    margin-top: 10px;
    text-transform: none;
    margin-bottom: 10px;
}

.login-link h4:hover {
    text-decoration: underline;
}

.login-link h4 {
    color: red;
    text-transform: none;
}

.login-text {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.second strong {
    font-family: 'Open Sans', sans-serif;
}

.second h3 {
    font-family: 'Open Sans', sans-serif;
}

.template {
    background-size: cover;
    /*background-image: ;*/
}

.footer2 b {
    font-family: 'Open Sans', sans-serif;
}

.footer2 .login-footer {
    margin-left: 5px;
    color: red;
}

.footer2 .login-footer:hover {
    text-decoration: underline;
}

.second {
    width: 100%;
    height: 250px;
    text-align: center;
}

.footer2 {
    background-color: black;
    width: 100%;
    height: 160px;
    text-align: center;
}

.footer2 b {
    color: white;
}

.footer2 a {
    margin-top: 40px;
    color: white;
}

