.box_course {
    background-color: white;
    display: flex;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.box_course:hover {
    transform: scale(1.05);
}

.read-btn {
    font-size: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.read-btn p {
    margin-top: 3px;
}

.read-btn:hover *{
    color: white;
    transform: scale(1.2);
}

.box_creator {
    background-color: white;
    display: flex;
    top: 0;
}

.progress_bar{
    width: 100%;
    accent-color: #007bff;
}

.box_creator:hover {
    text-decoration: underline solid 2px black;
}

.page-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px 0;
}

.page-container i {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 18px;
    pointer-events: none;
}

.page-container button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.page-container button:disabled i {
    color: #aaadc7;
}

.pagination {
    padding: 5px 10px;
    border: solid 2px white;
    margin-right: 5px;
    margin-left: 5px;
}

.page-active {
    padding: 5px 10px;
    border: solid 2px white;
    margin-right: 5px;
    margin-left: 5px;
    background: #3a57e8;
}

.page-active strong {
    color: white;
}

.pagination strong {
    color: black;
}

.pagination:hover {
    background: #3a57e8;
}

.pagination:hover strong {
    color: white;
}

.paginationStyle2 {
    padding: 5px 10px;
    border: solid 2px white;
}

.paginationStyle2 strong {
    color: black;
}

.paginationStyle2:hover {
    background: #3a57e8;
}

.paginationStyle2:hover strong {
    color: white;
}

.pagination-disable {
    padding: 5px 10px;
    border: solid 2px white;
}

.pagination-disable strong {
    color: lightgrey;
}

.pagination-disable {
    padding: 5px 10px;
    border: solid 2px white;
}

.page-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.a-category {
    color: black;
    padding: 5px 10px;
}

.a-category:hover {
    color: black;
}

.category-box {
    margin-bottom: 10px;
    border: solid 2px white;
    color: blue;
}

.category-box:hover {
    border: solid 2px black;
    border-radius: 5px;
}

.notification-box {
    text-align: center;
    font-size: larger;
    padding: 10px 15px;
}

.dropdown-scroll {
    max-height: 250px;
    overflow-y: auto;
}

.notification-button {
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    background: none;
}

.active {
    color: blue;
    background-color: #b8c6ff;
}

.none {
    display: none;
}

.show {
    display: block;
}