.notification-box {
    text-align: center;
    font-size: larger;
    padding: 10px 15px;
}

.dropdown-scroll {
    max-height: 250px;
    overflow-y: auto;
}

.notification-button {
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    background: none;
}

.active {
    color: blue;
    background-color: #b8c6ff;
}

.none {
    display: none;
}

.show {
    display: block;
}

.read-btn {
    font-size: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.read-btn p {
    margin-top: 3px;
}

.read-btn:hover *{
    color: white;
    transform: scale(1.2);
}

.notification-detail {
    background: white;
    border-radius: 15px;
    text-align: center;
}

.notification-link:hover {
    font-weight: bolder;
    color: blue;
}