
.review-btn {
    color: red;
    background: none;
}

.review-btn:hover {
    color: red;
    background: none;
    text-decoration: underline;
}

.table-header td {
    text-align: center;
    border: solid 1px black;
    background-color: lightgray;
    color: black;
}

.table-body td {
    text-align: center;
}

.gray {
    background-color: lightgray;
}

.attempt-btn {
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: solid 2px lightgray;
}

.attempt-btn:hover {
    background-color: lightgray;
}

#modal-container4 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

#modal-container4.show {
    opacity: 1;
    pointer-events: all;
}

.modal4 {
    background-color: white;
    position: relative;
    left: 38%;
    top: 0;
    transform: translateX(-62%);
    max-width: 500px;
    transition: all 0.5s ease-in-out;
}

.modal4 .modal-header4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: solid 1px #dedede;
}

.modal4 .modal-header4 h3 {
    margin: 0;
}

.modal4 .modal-body4 {
    align-items: center;
    padding: 15px 25px;
    border-bottom: solid 1px #dedede;
}

.modal4 .modal-footer4 {
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#modal-container4.show .modal4 {
    top: 50%;
    transform: translateY(-50%);
}

#start-btn4 {
    background-color: #007bff;
    color: white;
    margin-right: 20px;
    border: none;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#start-btn4:hover {
    background-color: blue;
}

#cancel-btn4 {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#cancel-btn4:hover {
    background-color: gray;
}

.btn-close4 {
    color: black;
    background: none;
    border: none;
    font-size: 25px;
}

#modal-container5 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

#modal-container5.show {
    opacity: 1;
    pointer-events: all;
}

.modal5 {
    background-color: white;
    position: relative;
    left: 38%;
    top: 0;
    transform: translateX(-62%);
    max-width: 500px;
    transition: all 0.5s ease-in-out;
}

.modal5 .modal-header5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: solid 1px #dedede;
}

.modal5 .modal-header5 h3 {
    margin: 0;
}

.modal5 .modal-body5 {
    align-items: center;
    padding: 15px 25px;
    border-bottom: solid 1px #dedede;
}

.modal5 .modal-footer5 {
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#modal-container5.show .modal5 {
    top: 50%;
    transform: translateY(-50%);
}

#start-btn5 {
    background-color: #007bff;
    color: white;
    margin-right: 20px;
    border: none;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#start-btn5:hover {
    background-color: blue;
}

#cancel-btn5 {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#cancel-btn5:hover {
    background-color: gray;
}

.btn-close5 {
    color: black;
    background: none;
    border: none;
    font-size: 25px;
}

.left {
    opacity: 0;
    pointer-events: none;
}


.none {
    display: none;
}
