
.center_content {
    margin-bottom: 10px;
}

.Question_number {
    border-top: solid 2px black;
    border-right: solid 1px lightgray;
    border-left: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
}

input[type="radio"] {
    accent-color: red;
}

.gradeBox {
    margin-bottom: 40px;
}

.table {
    border: solid 2px black;
}

.table-body td {
    border: solid 2px black;
}

.table-header td {
    border: solid 2px black;
}

.table-header th {
    text-align: center;
    border: solid 2px black;
    background-color: lightgray;
    color: black;
}

.table-body th {
    text-align: center;
    border: solid 2px black;
    background-color: lightgray;
    color: black;
}

.Question_content {
    width: 80%;
    border-top: solid 2px #007bff;
    border-right: solid 2px lightgray;
    border-left: solid 1px lightgray;
    border-bottom: solid 2px lightgray;
    background-color: white;
}

.Question {
    border-bottom: solid 1px lightgray;
    margin-left: 20px;
    color: #2F6473;
    padding: 10px 10px;
}

.Question_answer {
    margin-left: 40px;
    margin-top: 10px;
    padding: 20px 20px;
}

.Question_answer b {
    font-size: 15px;
    color: #2F6473;
    margin-left: 20px;
}

.Question_number {
    border-top: solid 2px black;
    border-right: solid 1px lightgray;
    border-left: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
}

.body {
    display: flex;
}

.footer {
    margin-top: 70px;
    width: 100%;
    background: none;
    height: 70px;
}

.correctAnswer {
    margin-bottom: 0;
    width: 100%;
    background-color: #007bff;
}

.true {
    margin-bottom: 0;
    width: 100%;
    background-color: rgb(115, 255, 71);
}

.false {
    margin-bottom: 0;
    width: 100%;
    background-color: red;
}

.return-btn {
    margin-left: 90%;
    color: red;
}

.return-btn:hover {
    text-decoration: solid 1px underline;
    color: darkred;
}
