.viewAnswer-box {
    text-align: right;
    justify-content: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.viewAnswer-box button {
    color: #565454;
    border: solid 2px lightgrey;
}

.viewAnswer-box button:hover {
    border: solid 2px #565454;
}

.answerModal .answerModal-header {
    display: flex;
    justify-content: right;
    padding: 15px 10px;
    border-bottom: solid 1px #dedede;
}



