
.radio-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    padding-left: 40px;
    margin-bottom: 10px;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
}

.radio-container:hover .checkmark {
    background: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px white;
    transform: translate(-50%, -50%) rotate(45deg);
}

.radio-container input:checked ~ .checkmark {
    background: red;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

b {
    font-size: 13px;
    color: black;
}

.header {
    margin-top: 100px;
    padding: 10px 60px;
    display: flex;
    height: 180px;
}

.header1 {
    height: 140px;
    width: 50%;
}

.header2 {
    height: 140px;
    width: 50%;
}

.header h1 {
    font-size: 45px;
}

.center {
    margin-left: 70px;
    height: max-content;
}

.right {
    margin-left: 20px;
    background-color: white;
    border-top: solid 2px #FD647A;
    height: max-content;
    border-radius: 15px;
}

.Question_number {
    border-top: solid 2px black;
    border-right: solid 1px lightgray;
    border-left: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
}

.Question_content {
    width: 90%;
    border-radius: 15px;
    border-top: solid 2px #007bff;
    border-right: solid 2px lightgray;
    border-left: solid 1px lightgray;
    border-bottom: solid 2px lightgray;
    background-color: white;
}

.Question {
    border-bottom: solid 1px lightgray;
    margin-left: 20px;
    color: #2F6473;
    padding: 10px 10px;
}

.Question_answer {
    margin-left: 40px;
    margin-top: 10px;
    padding: 20px 20px;
}

.Question_answer b {
    font-size: 15px;
    color: #2F6473;
    margin-left: 20px;
}

.center_content {
    margin-bottom: 30px;
}

.submit_button {
    text-align: center;
    border: none;
    background-color: #007bff;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    padding: 10px 10px;
    display: flex;
    cursor: pointer;
}

.submit_button:hover {
    background-color: blue;
}

.listPage {
    list-style: none;
    padding: 5px;
}

.listPage li {
    text-align: center;
    padding: 10px 15px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.listPage li:hover {
    background-color: lightgray;
    color: black;
}

.listPage .active {
    border: solid 2px black;
    color: black;
}

.end-center {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.end-center li {
    font-weight: normal;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 15px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.end-center li:hover {
    background-color: blue;
    color: white;
}

#modal-container3 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

#modal-container3.show {
    opacity: 1;
    pointer-events: all;
}

.modal3 {
    background-color: white;
    position: relative;
    left: 38%;
    top: 0;
    transform: translateX(-62%);
    max-width: 500px;
    transition: all 0.5s ease-in-out;
}

.modal3 .modal-header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: solid 1px #dedede;
}

.modal3 .modal-header3 h3 {
    margin: 0;
}

.modal3 .modal-body3 {
    align-items: center;
    padding: 15px 25px;
    border-bottom: solid 1px #dedede;
}

.modal3 .modal-footer3 {
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.btn-close3 {
    color: black;
    background: none;
    border: none;
    font-size: 20px;
}

#modal-container3.show .modal3 {
    top: 50%;
    transform: translateY(-50%);
}

#submit-btn {
    background-color: #007bff;
    color: white;
    margin-right: 20px;
    border: none;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#submit-btn:hover {
    background-color: blue;
}

#cancel-btn3 {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#cancel-btn3:hover {
    background-color: gray;
}

.none {
    display: none;
}

.red {
    color: red;
}

.selected {
    background-color: #1dc71d;
    color: black;
    font-weight: bold;
}

label {
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

input[type="checkbox"] + label {
    width: 90%;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 2px solid lightgrey;
    border-radius: 5px;
    color: black;
    background-color: white;
    margin-bottom: 10px;
}

input[type="checkbox"]:checked + label {
    border: 2px solid blue;
}
